## Piedmont wines dataset
- There are 178 samples of distinct variety of red wine from the Piedmont region of Italy.
- The features measures chemical composition, e.g. alcohol content
- .. and also visual properties like "Colorintensity"

## Load the dataset

In [7]:
import pandas as pd
import numpy as np

In [8]:
col = ["Alcohol",
"Malic_acid",
"Ash",
"Alcalinity_of_ash",
"Magnesium",
"Total_phenols",
"Flavanoids",
"Nonflavanoid_phenols",
"Proanthocyanins",
"Colorintensity",
"Hue",
"OD280/OD315_of_diluted_wines",
"Proline"]
df = pd.read_csv('datasets/wine.data.txt', names=col)
df.head()

,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Colorintensity,Hue,OD280/OD315_of_diluted_wines,Proline
1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [9]:
# The varieties of the wines (there are 3 different types)
ground_truth = ['Barolo']*59+['Grignolio']*71+['Barbera']*48
ground_truth

['Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Barolo',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Grignolio',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera',
 'Barbera']

# Clustering the wines
The code below creates a kmeans model with n_clusters =3. But the crosstab shows that the clustering result is awful:

In [10]:
from sklearn.cluster import KMeans
model = KMeans(n_clusters=3)
labels = model.fit_predict(df)
labels

array([0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2,
       0, 0, 2, 2, 0, 0, 2, 0, 0, 0, 0, 0, 0, 2, 2, 0, 0, 2, 2, 0, 0, 2,
       2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 1, 2, 1, 1, 2,
       1, 1, 2, 2, 2, 1, 1, 0, 2, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1, 1,
       2, 2, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 2,
       1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1,
       1, 2, 2, 2, 2, 1, 1, 1, 2, 2, 1, 1, 2, 2, 1, 2, 2, 1, 1, 1, 1, 2,
       2, 2, 1, 2, 2, 2, 1, 2, 1, 2, 2, 1, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2,
       2, 1], dtype=int32)

In [11]:
df_ct = pd.DataFrame({'predicted':labels, 'ground_truth':ground_truth})
ct = pd.crosstab(df_ct['predicted'], df_ct['ground_truth'])
ct

ground_truth  Barbera  Barolo  Grignolio
predicted
0                   0      46          1
1                  19       0         50
2                  29      13         20

The crosstab suggests that our clustering model did not work well. What can we do to improve the model? Show your work below and your crosstab after applying your fix:

(hint: with one fix, we can improve the performance of the model a lot, making the result almost perfect)

<font color='red'>Not much will change based on the model parameters, it has to do with the data itself. Looking at the data, the values vary for all features. Scaling the data in the data set should allow for better and more accurate clustering. </font>

In [17]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(df)
df =scaler.transform(df)

In [48]:
df1 = pd.DataFrame(df)
df1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.842105,0.191700,0.572193,0.257732,0.619565,0.627586,0.573840,0.283019,0.593060,0.372014,0.455285,0.970696,0.561341
1,0.571053,0.205534,0.417112,0.030928,0.326087,0.575862,0.510549,0.245283,0.274448,0.264505,0.463415,0.780220,0.550642
2,0.560526,0.320158,0.700535,0.412371,0.336957,0.627586,0.611814,0.320755,0.757098,0.375427,0.447154,0.695971,0.646933
3,0.878947,0.239130,0.609626,0.319588,0.467391,0.989655,0.664557,0.207547,0.558360,0.556314,0.308943,0.798535,0.857347
4,0.581579,0.365613,0.807487,0.536082,0.521739,0.627586,0.495781,0.490566,0.444795,0.259386,0.455285,0.608059,0.325963

In [43]:
from sklearn.cluster import KMeans
model = KMeans(n_clusters=3,random_state=42,n_init=50,max_iter=900).fit(df)
labels = model.fit_predict(df)
labels

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 0, 0, 2, 2, 2, 2,
       2, 2, 0, 2, 0, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0], dtype=int32)

In [44]:
df_ct = pd.DataFrame({'predicted':labels, 'ground_truth':ground_truth})
ct = pd.crosstab(df_ct['predicted'], df_ct['ground_truth'],margins=True, margins_name='Total')
ct

ground_truth  Barbera  Barolo  Grignolio  Total
predicted
0                  48       0          6     54
1                   0      59          2     61
2                   0       0         63     63
Total              48      59         71    178